# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environnement
.env

# Données locales
data/chromadb/
data/uploads/

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# Tests
.pytest_cache/
htmlcov/
.coverage
